
@import "tailwindcss";
@font-face {
  font-family: 'GeistRegular';
  src: url('./assets/Fonts/Geist/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeistMedium';
  src: url('./assets/Fonts/Geist/Geist-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
