@import "tailwindcss";

/* Custom Font Faces */
@font-face {
  font-family: 'GeistRegular';
  src: url('./assets/Fonts/Geist/Geist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMedium';
  src: url('./assets/Fonts/Geist/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeistExtraBold';
  src: url('./assets/Fonts/Geist/Geist-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mokoto";
  src: url("./assets/Fonts/mokoto/Mokoto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}
